@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*sets the background to the same color as the home page
 also sets the enitre pages font to roboto slab*/
body{
    font-family: 'Roboto Slab', serif;
    background-color: 	#1E90FF;
}
/*creates a maximum width for the page and then centers all other elemetns in the page*/
#background{
    max-width: 1000px;
    margin: 0 auto;
}
/*centers the h1 and head class*/
#head,h1{
    text-align: center;
}
/*setssz the font size of all h1 tags*/
h1{
    font-size: 40px;
   
    
}
/*gets rid of the underline all links have to create cohesion in the page */
a{
    text-decoration: none;
}
/*sets the font size indide of the head div*/
#head{
    font-size: 20px;
}
/*Remove bullets in list*/
ul{
	list-style: none;
}
/*adds an underline to all elements in all h2 tags */
h2{
    text-decoration: underline;
}
/*sets the font size inside inside all lists to 20px*/
li{
    font-size: 20px;
}

/*creates the home button and make it the highest z-index of any page
sets the border radius to round the button
sets teh positon to absoloute so that it will stay the the same place when moving to diffrent sized screens*/
#home{
    position: absolute;
    width:50px;
    height: 50px;
    background-color:#000080; 
    border-radius: 10px;
    z-index: 6;
    color: white;
    cursor: pointer;
}
/*makes the font awsome icon larger inside my button*/
#home .fa{
    font-size: 30px;
}
