
#end{
    position: absolute;
    background-color:red;
    width:60px;
    height:60px;
    border-radius: 40px;
    left:49%;
    top: 50%;

    cursor: pointer;
      font-size: 90px;
    text-align: center;
    color: white;
    margin: 0 auto;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

#home{
    position: absolute;
    width:50px;
    height: 50px;
    background-color:#000080; 
    border-radius: 10px;
    z-index: 6;
    color: white;
}
#home .fa{
    font-size: 30px;
}

#background{
    background-color: #333CFF;
    height: 800px;
    width: 800px;
    position:relative;
    margin:0 auto;
}
#container{
position:relative;
height: 800px;
width: 800px;
}
.shape.pentagon{
    position: absolute;
    width:100px;
    height: 100px;
    left:46.5%;
    top: 47%;

}
.shape.trapezoid{
      position: absolute;
    width: 25%;
    height: 25%;
    left:40%;
    top: 42%;
    
}
.shape.triangle{
      position: absolute;
    width: 40%;
    height: 40%;
    left:32%;
    top: 32%;
    z-index: 2;
}
.shape.square{
     position: absolute;
    width:360px;
    height: 360px;
    background-color: #9CFF33;
    border: 1px solid black;
    left:29.4%;
    top: 30%;
    z-index: 3;
}
.shape.circle{
    position: absolute;
    width:600px;
    height: 600px;
    background-color: #9033FF;
    border: 1px solid black;
    left:13%;
    top: 15%;
    z-index: 4;
    border-radius: 50%;
     font-size: 90px;
    text-align: center;
    color: white;
    margin: 0 auto;
    letter-spacing: 2px;
   
}

