#cups{
    width:80%;
    margin: auto;
    text-align: center;
}

#home{
    position: absolute;
    width:50px;
    height: 50px;
    background-color:#000080; 
    border-radius: 10px;
    z-index: 6;
    color: white;
}
#home .fa{
    font-size: 30px;
}

/*#btns{
    padding: 20px;
    background:#f4f4f4;
    margin-bottom: 20px;
}

#btns button{
    background: white;
    padding: 5px 10px;
    border: 0;
}*/

/*#btns .fa{
    font-size: 30px;
}

#btns .fa-play-circle{
    color: green;
}

#btns .fa-pause-circle{
    color: red;
}*/


.cup{
    margin: 4px;
    margin-top: 300px;
    margin-bottom: 0px;
    position: relative;
    width:100px;
    height: 100px;
    
    display: inline-block;
}
/*.left{
    background-color:red; 
}
.center{
    background-color: blue;
}
.right{
    background-color: yellow;
}*/

#background{
    height: 800px;
    width: 800px;
    background-color:black; 
    position: relative;
    margin: auto;
    margin-top: 30px;
    z-index: 1;
    
}

.fake{
    width:60px;
    height: 60px;
    border-radius: 40px;
    background-color:red;
    visibility:initial; 
    margin:0 auto;
    opacity: 0;
  
}
.base{
    width: 440px;
    height: 50px;
    position: relative;
    background-color: #804000;
    margin: 0 auto;

}

.leg{
    position: absolute;
    width: 50px;
    height: 200px;
    background-color: #804000;
}
.leg.left{
 
    left:22.5%;
   

}
.leg.right{
    left:71.3%;
    
}
.cloth{
    position: absolute;
    width: 60px;
    height: 200px;
    background-color:navy;
    border-radius: 30px;
    border:2px solid black;
}
.cloth.leftLeft{
   left: 28.5%;
}
.cloth.leftCenter{
    left:35%;
}
.cloth.leftRight{
    left:42%;
}
.cloth.rightLeft{
    left: 49.6%;
}
.cloth.rightCenter{
    left:56.5%;
}
.cloth.rightRight{
    left: 63.6%;
}
.answer{
    position: absolute;
    background-color:red;
    width:60px;
    height: 60px;
    border-radius: 40px;
    left:45.9%;
    top: 200%;
}
.prevent{
    position: absolute;
    width:100%;
    height:100%;
     z-index: 5; 
    visibility: initial;
  
}
#container{
    position: relative;
    
}
